@include aoa-bg-series($bg__init,$classes_init);

.about,.events{
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
        text-shadow: $text__shadow;
    }
}

.bg{
    &-black{
        background-color: $color__black!important;
    }
}

.navbar{
    &-nav{
        *:hover{
            opacity: 0.8;
        }
        background-color: #fff!important;
        border-radius: 30px;
        border: 1px solid #222;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{        
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
    }
    .contact,.events,.index,.new{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            border-radius: 5px;
            opacity: 0.9;
        }
    }
}