$prefix: "../../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg";
$bg__accesories-img: $prefix+"img/accesories/accesories-s1.jpg";
$bg__clothing-img: $prefix+"img/clothing/clothing-s1.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__events-img: 
    $prefix+"img/events/events-s1.jpg",
    "",
    $prefix+"img/events/events-s3.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__new-img: $prefix+"img/new/new-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__init:
    "about",
    "accesories",
    "clothing",
    "comingsoon",
    "contact",
    "error",
    "events",
    "index",
    "login",
    "new",
    "privacy";
$classes_init:
    $bg__about-img,
    $bg__accesories-img,
    $bg__clothing-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__events-img,
    $bg__index-img,
    $bg__login-img,
    $bg__new-img,
    $bg__privacy-img;
$color__black: #111;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;